<div class="row">
    <div class="col-md-12">
        <h2>{{username}} Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Create Blog</h3>
        <form class="formBox">
            <div>
                <input type="text" id="blogTitle" placeholder="Blog Title" />
            </div>
            <div>
                <input type="text" id="blogContent" placeholder="Blog Content" />
            </div>
            <div>
                <button id="subUp"class="btn btn-primary" blogId=''>Update</button>
                <button id="creUp"class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>

    <!--If blogs.length != NULL -->
    {{#if blogs.length}}
    <div class="col-md-6 userBlog">
        <h3>Current Blogs:</h3>

        <!--If for each index of blogs create blog meaning the code below -->
        {{#each blogs as |blog|}}
        <div class="row">
            <div class="col-md-8">
                <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success upBtn" blogId="{{blog.id}}">UPDATE</button><button class="btn btn-danger delBtn" blogId="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./javascripts/dashboard.js"></script>